<h1>Add Meeting to Calender</h1>

<form name="createMeeting" action="/meetings" method="POST">
  <input type="text" name="title" {{#if meeting.title}} value="{{meeting.title}}" {{else}} placeholder="meeting.title" {{/if}}>
  <input type="text" name="from" {{#if meeting.from}} value="{{meeting.from}}" {{else}} placeholder="meeting.from" {{/if}}>
  <input type="text" name="to" {{#if meeting.to}} value="{{meeting.to}}" {{else}} placeholder="meeting.to" {{/if}}>
  <input type="text" name="location" {{#if meeting.location}} value="{{meeting.location}}" {{else}} placeholder="meeting.location" {{/if}}>
  <input type="text" name="description" {{#if meeting.description}} value="{{meeting.description}}" {{else}} placeholder="meeting.description" {{/if}}>
  <input type="text" name="participants" {{#if meeting.participants}} value="{{meeting.participants}}" {{else}} placeholder="meeting.participants" {{/if}}>
  <button type="submit">Submit</button>
</form>


