<h4>{{meeting.title}}</h4>
<p>from: {{meeting.from}}</p>
<p>to: {{meeting.to}}</p>
<p>location: {{meeting.location}}</p>
<p>description: {{meeting.description}}</p>
{{#each meeting.participants}}
  {{this}}
{{/each}}
<form action="/meetings/{{meeting.id}}" method="POST">
  <input type="hidden" name="_method" value="put">
  <button type="submit">edit</button>
</form>